{% extends 'base.html.twig' %}

{% block title %}Catégorie #
{% endblock %}

{% block body %}
	{% if category %}
		<div class="row">
			{% for program in programs %}
				<div class="col-sm-3">
					<div class="card">
						<img class="card-img-top" src="{{ asset(program.poster) }}" alt="Poster of the program">
						<div class="card-body">
							<h2 class="card-title">
								{{ program.title }}</h2>
							<h3 class="card-subtitle mb-2 text-muted">
								<span>{{ program.year }}</span>
								<span>{{ program.category.name }}</span>
							</h3>
							<p class="card-text">{{ program.synopsis }}</p>
						</div>
						<a href="{{ path("program_show", { id: program.id }) }}" class="btn btn-dark">Voir la fiche</a>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	{% if programs is empty %}
		<p>Aucune série trouvée</p>
	{% endif %}
	<a href="{{ path('category_index') }}">
		Retour à la liste des catégories
	</a>
{% endblock %}
