{% extends 'base.html.twig' %}

{% block title %}
	{{ program.title }}
	- Saison
	{{ season.number }}
	- Episode
	{{ episode.number }}

{% endblock %}

{% block body %}
	<div class="episode">
		<img class="program-poster" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="episode-body">
			<h1>
				Episode
				{{ episode.number }}
				de la saison
				{{ season.number }}
				de
				{{ program.title }}
			</h1>
			<h2>{{ episode.title }}</h2>
			<p>{{ episode.synopsis }}</p>
		</div>
		<div class="back">
			<a href="{{ path('program_season_show', {"programSlug": program.slug, "seasonId": season.id })}}">
				Retour à la liste des épisodes
			</a>
		</div>
	</div>


{% endblock %}
