{% extends 'base.html.twig' %}

{% block title %}
	{{ program.title }}
	- Saison
	{{ season.number }}


{% endblock %}

{% block body %}
	<div class="season">
		<img class="program-poster" src="{{ vich_uploader_asset(program) }}" alt="{{ program.title }} poster">
		<div class="season-body">
			<h1>Saison
				{{ season.number }}
				de
				{{ program.title }}
			</h1>
			<p>{{ season.description }}</p>

			Liste des épisodes :
			<ul>
				{% for episodes in season.episodes %}
					<li>
						<a href='{{ path('program_episode_show', { "programSlug": program.slug, "seasonId": season.id, "episodeSlug": episodes.slug })}}'>Episode
							{{ episodes.number }}
							:
							{{ episodes.title }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="back">
			<a href="{{ path('program_show', {"slug": program.slug})}}">
				Retour à la liste des saisons
			</a>
		</div>
	</div>


{% endblock %}
